
*
	box-sizing border-box

html,body
	height 100%

header
	background #007299
	font-family: 'Raleway', sans-serif;
	height 100%
	position relative
	width 100%

	.sub-header
		margin 0 auto
		overflow hidden
		text-align center
		width 75%

		.logo
			display block
			padding 2em 0
			font-size 4em
			text-decoration none
			color #fff

		input[type="password"],input[type="text"]
			border none
			padding 0.8em 1em
			width 40%

		input[type="checkbox"]
			margin-left 2%
		
		label
			color #fff